<div class="modal fade login-modal-main" id="bd-example-modal">
   <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-body">
            <div class="login-modal">
               <div class="row">
                  <div class="col-lg-6 py-lg-5">
                     <div class="login-modal-left">
                     </div>
                  </div>
                  <div class="col-lg-6 pad-left-0">
                     <button type="button" class="close close-top-right" data-dismiss="modal" aria-label="Close"
                        #btnClose>
                        <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                        <span class="sr-only">Close</span>
                     </button>

                     <div class="login-modal-right">
                        <!-- Tab panes -->
                        <div class="tab-content">
                           <div class="tab-pane active" id="login" role="tabpanel">
                              <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
                                 <h5 class="heading-design-h5">تسجيل الدخول الى حسابك</h5>
                                 <fieldset class="form-group">
                                    <label>ادخل اسم المستخدم</label>
                                    <div class="input-group">
                                       <input type="text" #username="ngModel" class="form-control"
                                          placeholder="مثال : ahmad234" [(ngModel)]="user.username" name="username"
                                          required>
                                       <span class="input-group-text" id="basic-addon1">@</span>
                                    </div>
                                 </fieldset>
                                 <span *ngIf="username.invalid && (username.dirty || username.touched)">
                                    <p *ngIf="username.errors?.['required']" class="text-danger">
                                       اسم المستخدم مطلوب
                                    </p>
                                 </span>
                                 <fieldset class="form-group">
                                    <label>ادخل كلمة المرور</label>
                                    <input type="password" class="form-control" placeholder="********"
                                       [(ngModel)]="user.password" #password="ngModel" name="password" required>
                                 </fieldset>
                                 <span *ngIf="password.invalid && (password.dirty || password.touched)">
                                    <p *ngIf="password.errors?.['required']" class="text-danger">
                                       كلمة المرور مطلوبة
                                    </p>
                                    <p *ngIf="password.errors?.['minlength']" class="text-danger">
                                       يجب ان تحتوي كلمة على الاقل ثمانية خانات
                                    </p>
                                 </span>
                                 <h6 *ngIf="SigninerrMess" class="text-center text-danger">{{ SigninerrMess }}</h6>
                                 <fieldset class="form-group">
                                    <button [disabled]="loginForm.form.invalid" type="submit"
                                       class="btn btn-lg btn-secondary btn-block">سجل الدخول</button>
                                 </fieldset>
                              </form>
                           </div>
                           <div class="tab-pane" id="register" role="tabpanel">
                              <form novalidate #signupForm="ngForm" (ngSubmit)="onSignup()">
                                 <h5 class="heading-design-h5">انشاء حساب</h5>
                                 <fieldset class="form-group">
                                    <label>ادخل اسم المسخدم</label>
                                    <div class="input-group">
                                       <input type="text" class="form-control" placeholder="مثال : ahmad153"
                                          [(ngModel)]="createdUser.username" #createdusername="ngModel" name="username"
                                          required>
                                       <span class="input-group-text" id="basic-addon1">@</span>
                                    </div>
                                 </fieldset>
                                 <span
                                    *ngIf="createdusername.invalid && (createdusername.dirty || createdusername.touched)">
                                    <p *ngIf="createdusername.errors?.['required']" class="text-danger">
                                       اسم المستخدم مطلوب
                                    </p>
                                 </span>
                                 <fieldset class="form-group">
                                    <label>ادخل رقم الهاتف</label>
                                    <input type="text" pattern="[0-9]*" title="ادخل ارقام فقط" class="form-control"
                                       placeholder="مثال : 0977277277" [(ngModel)]="createdUser.phone" name="phone"
                                       #createdphone="ngModel" minlength="9" maxlength="10" required>
                                 </fieldset>
                                 <span *ngIf="createdphone.invalid && (createdphone.dirty || createdphone.touched)">
                                    <p *ngIf="createdphone.errors?.['required']" class="text-danger">
                                       رقم الهاتف مطلوب
                                    </p>
                                    <p *ngIf="createdphone.errors?.['minlength']" class="text-danger">
                                       يجب ان يحتوي على الاقل تسعة ارقم اذا بدء بال 9
                                    </p>
                                    <p *ngIf="createdphone.errors?.['pattern']" class="text-danger">
                                       يجب ان يحتوي على أرقام فقط
                                    </p>
                                 </span>
                                 <fieldset class="form-group">
                                    <label>ادخل كلمة المرور</label>
                                    <input type="password" class="form-control" placeholder="********"
                                       [(ngModel)]="createdUser.password" minlength="8" #createdpassword="ngModel"
                                       name="password" required>
                                 </fieldset>
                                 <span
                                    *ngIf="createdpassword.invalid && (createdpassword.dirty || createdpassword.touched)">
                                    <p *ngIf="createdpassword.errors?.['required']" class="text-danger">
                                       كلمة المرور مطلوبة
                                    </p>
                                    <p *ngIf="createdpassword.errors?.['minlength']" class="text-danger">
                                       يجب ان تحتوي كلمة على الاقل ثمانية خانات
                                    </p>
                                 </span>
                                 <h6 *ngIf="SignupErrMess" class="text-center text-danger">{{ SignupErrMess }}</h6>
                                 <fieldset class="form-group">
                                    <button [disabled]="signupForm.form.invalid" type="submit"
                                       class="btn btn-lg btn-secondary btn-block">انشئ الحساب</button>
                                 </fieldset>
                              </form>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-center login-footer-tab">
                           <ul class="nav nav-tabs" role="tablist">
                              <li class="nav-item">
                                 <a class="nav-link active" data-toggle="tab" href="#login" role="tab"><i
                                       class="mdi mdi-lock"></i>تسجل الدخول</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" data-toggle="tab" href="#register" role="tab"><i
                                       class="mdi mdi-pencil"></i>انشاء حساب</a>
                              </li>
                           </ul>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="cart-sidebar" *ngIf="isLogged">
   <div class="cart-sidebar-header bg-dark">
      <h5>
         <span class="text-secondary">سلة الشراء</span>
         <span data-toggle="offcanvas" class="float-right">
            <i class="mdi mdi-close"></i>
         </span>
      </h5>
   </div>
   <div class="cart-sidebar-body">
      <div class="cart-list-product">
         <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
         <img class="img-fluid" src="assets/img/item/11.jpg" alt="">
         <h5><a href="#">اسم المنتج هنا</a></h5>
         <h6><strong><span class="mdi mdi-approval"></span> الاضافات</strong> اسماء الاضافات</h6>
         <p class="offer-price mb-0">السعر هنا ل.س</p>
      </div>
      <div class="cart-list-product">
         <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
         <img class="img-fluid" src="assets/img/item/11.jpg" alt="">
         <h5><a href="#">اسم المنتج هنا</a></h5>
         <h6><strong><span class="mdi mdi-approval"></span> الاضافات</strong> اسماء الاضافات</h6>
         <p class="offer-price mb-0">السعر هنا ل.س</p>
      </div>
      <div class="cart-list-product">
         <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
         <img class="img-fluid" src="assets/img/item/11.jpg" alt="">
         <h5><a href="#">اسم المنتج هنا</a></h5>
         <h6><strong><span class="mdi mdi-approval"></span> الاضافات</strong> اسماء الاضافات</h6>
         <p class="offer-price mb-0">السعر هنا ل.س</p>
      </div>
      <div class="cart-list-product">
         <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
         <img class="img-fluid" src="assets/img/item/11.jpg" alt="">
         <h5><a href="#">اسم المنتج هنا</a></h5>
         <h6><strong><span class="mdi mdi-approval"></span> الاضافات</strong> اسماء الاضافات</h6>
         <p class="offer-price mb-0">السعر هنا ل.س</p>
      </div>
      <div class="cart-list-product">
         <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
         <img class="img-fluid" src="assets/img/item/11.jpg" alt="">
         <h5><a href="#">اسم المنتج هنا</a></h5>
         <h6><strong><span class="mdi mdi-approval"></span> الاضافات</strong> اسماء الاضافات</h6>
         <p class="offer-price mb-0">السعر هنا ل.س</p>
      </div>
   </div>
   <div class="cart-sidebar-footer">
      <div class="cart-store-details">
         <p>الفاتورة الكلّية<strong class="float-right"></strong></p>
         <p>تكلفة التوصيل<strong class="float-right text-danger">+ 6000 ل.س</strong></p>
         <h6>اجمالي القيمة<strong class="float-right text-danger">ل.س</strong></h6>
      </div>
      <a href="checkout.html"><button class="btn btn-secondary btn-lg btn-block text-left" type="button"><span
               class="float-left"><i class="mdi mdi-cart-outline"></i> اتمام العملية </span><span
               class="float-right"><strong>35000 ل.س</strong> <span
                  class="mdi mdi-chevron-right"></span></span></button></a>
   </div>
</div>
<nav class="navbar navbar-light navbar-expand-lg bg-dark bg-faded osahan-menu">
   <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"><img src="{{baseURL}}assets/img/logo.png" alt="logo"></a>
      <div class="navbar-collapse" id="navbarNavDropdown">
         <div [ngClass]="showSearch == true ? 'd-showen' : 'd-hiden'" id="searchbar"
            class="navbar-nav mr-auto mt-2 mt-lg-0 margin-auto top-categories-search-main">
            <div class="top-categories-search">
               <div class="input-group">
                  <input class="form-control" placeholder="ابحث عن وجبتك أو مطعمك هنا"
                     aria-label="Search products in Your City" type="text">
                  <span class="input-group-btn">
                     <button class="btn btn-secondary text-dark" type="button"><i class="mdi mdi-magnify"></i></button>
                  </span>
               </div>
            </div>
         </div>
         <div class="my-2 my-lg-0">
            <ul class="list-inline main-nav-right">
               <li class="list-inline-item">
                  <button (click)="back()" class="btn btn-link d-xl-none"><i class="mdi mdi-chevron-right"></i>
                  </button>
               </li>
               <li class="list-inline-item">
                  <button (click)="clickSearchbtn()" class="btn btn-link d-lg-none"><i class="mdi mdi-magnify"></i>
                  </button>
               </li>
               <li class="list-inline-item" *ngIf="!isLogged">
                  <button #btnProfile data-target="#bd-example-modal" data-toggle="modal" class="btn btn-link d-none d-lg-block"><i
                        class="mdi mdi-account-circle"></i> سجل الدخول/انشاء حساب</button>
               </li>
               <li class="list-inline-item" *ngIf="isLogged">
                  <a routerLink="/profile" class="btn btn-link d-none d-lg-block"><i class="mdi mdi-account-circle"></i> {{ myusername
                     }}@</a>
               </li>
               <li class="list-inline-item cart-btn" *ngIf="isLogged">
                  <span data-toggle="offcanvas" class="btn btn-link border-none"><i class="mdi mdi-cart"></i>
                     كرت الشراء<small class="cart-value">5</small></span>
               </li>
            </ul>
         </div>
      </div>
   </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light osahan-menu-2 pad-none-mobile mb-0">
   <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0 margin-auto">
            <li class="nav-item">
               <a class="nav-link shop" routerLink="/home"><span class="mdi mdi-store"></span> لعيونك</a>
            </li>
            <li class="nav-item">
               <a routerLink="/home" class="nav-link">الرئسية</a>
            </li>
         </ul>
      </div>
   </div>
</nav>