.list-body {
   padding: 15px 15px 30px;
   margin: 15px auto;
   width: 95%;
   background-color: #eee;
   filter: drop-shadow(0 0 15px #c0c0c0);
   border-radius: 20px;
}

.list-body .badge.status {
   outline: 3px solid;
   font-weight: 500;
   font-size: 12px;
   padding: 6px 8px;
}

.list-body .badge.cancel {
   background-color: transparent;
   float: left;
   font-weight: 500;
   font-size: 12px;
   padding: 6px 8px;
   cursor: pointer;
}

.list-body .badge.total {
   margin: -10px;
   float: left;
   font-weight: 600;
   font-size: 13px;
   padding: 6px 8px;
}

.list-body .badge.date {
   direction: ltr;
   margin: 20px auto -30px;
   display: block;
   font-weight: 600;
   font-size: 12px;
   padding: 6px;
}

.list-body .badge.username {
   direction: ltr;
   margin: 0 auto;
   display: block;
   font-weight: 600;
   font-size: 14px;
   padding: 6px;
   cursor: pointer;
}

.list-body .badge.username:hover {
   color: blue !important;
}

.list-product {
   width: 95%;
   margin: 8px auto;
   border-radius: 15px;
   overflow: hidden;
}

.list-product img {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   border-radius: 20%;
   box-shadow: 0 0 5px #787878;
   float: right;
   height: 90px;
   margin: 0 0px 0 15px;
   object-fit: cover;
   width: 90px;
}

.list-product h5 a {
   font-size: 14px;
}

.list-product h5 {
   margin: 3px;
   color: #5a6268;
}

.list-product h6 {
   font-size: 12px;
}

.list-product>h6 span {
   color: var(--secondary);
   font-size: 12px;
}
.list-product span.plugin {
   box-shadow: 0 0 10px #9c9c9c;
}

.list-product p.offer-price {
   float: left;
}

.list-product p.offer-quantity {
   float: right;
}