<div class="modal-dialog modal-dialog-centered">
   <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
         <h4 class="modal-title mx-auto">حالة الطلب<p>رقم الطلب :</p></h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <div class="progress-track">
            <ul id="progressbar">
               <li class="step0 active " id="step1"></li>
               <li class="step0 active text-center" id="step2"></li>
               <li class="step0 active text-right" id="step3"><span id="three"></span></li>
               <li class="step0 text-right" id="step4"></li>
            </ul>
            <span class="orderStatus">حالة الطلب</span>
         </div>
         <div class="row">
            <div class="col-9">
               <div class="details d-table">
                  <div class="d-table-row">
                     <div class="d-table-cell">
                        اسم عامل التوصيل
                     </div>
                     <div class="d-table-cell">
                        الاسم
                     </div>
                  </div>
                  <div class="d-table-row">
                     <div class="d-table-cell">
                        رقم عامل التوصيل
                     </div>
                     <div class="d-table-cell">
                        الرقم
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="d-table-row">
                  <a><i class="mdi mdi-moped" aria-hidden="true"></i></a>
               </div>
               <div class="d-table-row">
                  <a><i class="mdi mdi-phone" aria-hidden="true"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>