<section class="carousel-slider-main text-center mt-3 mb-0">
   <div class="owl-carousel owl-carousel-slider mb-0">
      <div class="item" *ngIf="admin">
         <a><img class="img-fluid" src="{{baseURL}}assets/img/green-plus.jpg">
            <input type="file" accept="image/*" (change)="addSliderImg($event)" title="اضافة صورة للمطعم"></a>
      </div>
      <div class="item" *ngFor="let img of sliderImages">
         <button *ngIf="admin" class="btn btn-danger btn-sm" (click)="deleteImg(img)"
            style="position: absolute;top: 20px;z-index: 1000;"><i class="mdi mdi-delete"></i></button>
         <a><img class="img-fluid" src="{{baseURL}}assets/img/slider/{{img}}"></a>
      </div>
   </div>
</section>
<section class="top-category section-padding">
   <div class="container">
      <div class="owl-carousel owl-carousel-category">
         <div class="item" *ngIf="admin">
            <div class="category-item">
               <a routerLink="/restaurants">
                  <img class="img-fluid" src="{{baseURL}}assets/img/green-plus.jpg">
                  <h6>عنصر جديد</h6>
               </a>
            </div>
         </div>
         <div class="item">
            <div class="category-item">
               <a routerLink="/restaurants">
                  <img class="img-fluid" src="assets/img/small/1.jpg" alt="">
                  <h6>سندويش غربي</h6>
                  <p>150 عنصر</p>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="product-items-slider section-padding">
   <div class="container">
      <div class="section-header">
         <h5 class="heading-design-h5">المطاعم الرائجة
            <a class="float-right text-secondary" routerLink="/restaurants">عرض الجميع</a>
         </h5>
      </div>
      <div class="owl-carousel owl-carousel-featured">
         <div class="item" *ngFor="let res of restaurants">
            <h5 *ngIf="admin">
               <span *ngIf="res.openned" (click)="close(res._id)"
                  class="badge badge-pill badge-success p-2">مفتوح</span>
               <span *ngIf="!res.openned" (click)="open(res._id)" class="badge badge-pill badge-danger p-2">مغلق</span>
            </h5>
            <div class="product">
               <a routerLink="/">
                  <div class="product-header">
                     <img class="img-fluid" src="{{baseURL + res.img}}">
                  </div>
                  <div class="product-body">
                     <h5>{{res.name}}</h5>
                     <h6><strong><span class="mdi mdi-approval"></span>نوع المطعم :</strong> {{res.type}}</h6>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="product-items-slider section-padding">
   <div class="container">
      <div class="section-header">
         <h5 class="heading-design-h5">المنتجات الاكثر شراء
            <a class="float-right text-secondary" href="shop.html">عرض الكل</a>
         </h5>
      </div>
      <div class="owl-carousel owl-carousel-featured">
         <div class="item">
            <div class="product">
               <a href="single.html">
                  <div class="product-header">
                     <img class="img-fluid" src="assets/img/item/8.jpg" alt="">
                  </div>
                  <div class="product-body">
                     <h5>اسم المنتج</h5>
                     <h6><strong><span class="mdi mdi-approval"></span>من مطعم : </strong>اسم المطعم</h6>
                  </div>
                  <div class="product-footer">
                     <button type="button" class="btn btn-secondary btn-sm float-right"><i
                           class="mdi mdi-cart-outline"></i>إضافة إلى السلة</button><br>
                     <p class="offer-price mb-0">السعر <b>ل.س<i class="mdi mdi-tag-outline"></i></b></p>
                  </div>
               </a>
            </div>
         </div>
         <div class="item">
            <div class="product">
               <a href="single.html">
                  <div class="product-header">
                     <img class="img-fluid" src="assets/img/item/8.jpg" alt="">
                  </div>
                  <div class="product-body">
                     <h5>اسم المنتج</h5>
                     <h6><strong><span class="mdi mdi-approval"></span>من مطعم : </strong>اسم المطعم</h6>
                  </div>
                  <div class="product-footer">
                     <button type="button" class="btn btn-secondary btn-sm float-right"><i
                           class="mdi mdi-cart-outline"></i>إضافة إلى السلة</button><br>
                     <p class="offer-price mb-0">السعر <b>ل.س<i class="mdi mdi-tag-outline"></i></b></p>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="section-padding bg-white border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-truck-fast"></i>
               <h6>Free & Next Day Delivery</h6>
               <p>Lorem ipsum dolor sit amet, cons...</p>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-basket"></i>
               <h6>100% Satisfaction Guarantee</h6>
               <p>Rorem Ipsum Dolor sit amet, cons...</p>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-tag-heart"></i>
               <h6>Great Daily Deals Discount</h6>
               <p>Sorem Ipsum Dolor sit amet, Cons...</p>
            </div>
         </div>
      </div>
   </div>
</section>